<div class="row d-flex flex-wrap align-items-stretch mb-2" *ngIf="getPartnerBlk" style="font-size: 13px;">

    <div class="col-md-6 col-12 mt-2">

        <div class="card h-100 bg-warning">
            <div class="card-body">
                <p class="font-weight-bold mb-0"> DCO Details </p>
                <p class="mb-0">
                    DCO ID : {{getDcoDetailsRes.personal_details.dco_id}}
                </p>
                <p class="mb-0">
                    <img src="../../../../assets/images/Mobile.png" style="height: 24px; margin-right: 10px;">
                    {{getDcoDetailsRes.personal_details.registered_mobile_number}}
                </p>
                <p class="mb-0">
                    <img src="../../../../assets/images/Name.png" style="height: 24px; margin-right: 10px;">
                    {{getDcoDetailsRes.personal_details.driver_name}}
                </p>
                <p class="mb-0">
                    <img src="../../../../assets/images/homeCity.png" style="height: 24px; margin-right: 10px;">
                    {{getDcoDetailsRes.personal_details.home_city}}
                </p>
                <p class="mb-0">
                    <img src="../../../../assets/images/currentCity.png" style="height: 24px; margin-right: 10px;">
                    {{getDcoDetailsRes.personal_details.current_city}}
                </p>
                <p class="mb-0">
                    Status : {{getDcoDetailsRes.personal_details.driver_status}}
                </p>
                <p class="mb-0">
                    Dco Status : {{getDcoDetailsRes.personal_details.vendorStatus}}
                </p>
                <p class="mb-0">
                    Payout Limit : {{getDcoDetailsRes.personal_details.autoRefundLimit}}
                </p>
                <p class="mb-0">
                    Driver Availability : {{getDcoDetailsRes.personal_details.availability_status}}
                </p>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-12 mt-2">

        <div class="card h-100 bg-warning">
            <div class="card-body">

                <p class="font-weight-bold mb-0">Performance</p>

                <p class="mb-0">
                    Driver Ner : {{getDcoDetailsRes.performance.driver_ner}}
                </p>
                <p class="mb-0">
                    Unassigned : {{getDcoDetailsRes.performance.unassigned}}
                </p>
                <p class="mb-0">
                    Ontime Arrival : {{getDcoDetailsRes.performance.ontime_arrival}}
                </p>
                <p class="mb-0">
                    App Non Compliance : {{getDcoDetailsRes.performance.app_non_compliance}}
                </p>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-12 mt-2">

        <div class="card h-100 bg-warning">
            <div class="card-body">

                <p class="font-weight-bold mb-0">Engagement</p>

                <p class="mb-0">
                    Total Trips : {{getDcoDetailsRes.engagement.total_trips}}
                </p>
                <p class="mb-0">
                    Last 15 Days Trips : {{getDcoDetailsRes.engagement.last_15_days_trips}}
                </p>
                <p class="mb-0">
                    Current Outstanding Amount : {{getDcoDetailsRes.engagement.current_outstanding_amount}}
                </p>
                <p class="mb-0">
                    Last Login : {{getDcoDetailsRes.engagement.last_login}}
                </p>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-12 mt-2">

        <div class="card h-100 bg-warning">
            <div class="card-body">

                <p class="font-weight-bold mb-0">Cab Details</p>

                <p class="mb-0">
                    Cab Type : {{getDcoDetailsRes.cab_details.cabType}}
                </p>
                <p class="mb-0">
                    Manufacturer : {{getDcoDetailsRes.cab_details.manufacturer}}
                </p>
                <p class="mb-0">
                    Model : {{getDcoDetailsRes.cab_details.model}}
                </p>
                <p class="mb-0">
                    Car Registration Number : {{getDcoDetailsRes.cab_details.car_registration_number}}
                </p>
            </div>

        </div>

    </div>

    <div class="col-md-6 col-12 text-center" *ngIf="bankDetailSection && !dcoTransactionHistoryTbl">
        <div class="card h-100">
            <div class="card-body py-1">

                <div class="row">
                    <div class="col-md-12 col-12 text-left">

                        <p [ngClass]="{
                      'text-secondary': getPartnerResponse.bankDetailSectionStatus == 0,
                      'text-success': getPartnerResponse.bankDetailSectionStatus == 1,
                      'text-danger': getPartnerResponse.bankDetailSectionStatus == 2,
                      'text-warning': getPartnerResponse.bankDetailSectionStatus == 3
                    }" class="mb-1">
                            Finance : {{ statusText(getPartnerResponse.bankDetailSectionStatus) }}
                        </p>
                        <hr class="my-2">

                        <p class="mb-1">
                            Account Detail :
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.accountStatus == 1">
                                <i class="far fa-check-circle fa-lg text-success"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.accountStatus == 2">
                                <i class="far fa-times-circle fa-lg text-danger"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.accountStatus == 0">
                                <i class="far fa-dot-circle fa-lg text-secondary"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.accountStatus == 3">
                                <i class="fas fa-exclamation-circle fa-lg text-warning"></i> 
                            </ng-container>
                        </p>

                        <p class="mb-1">
                            Security Deposit :
                            <ng-container
                                *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.securityDepositStatus == 1">
                                <i class="far fa-check-circle fa-lg text-success"></i> 
                            </ng-container>
                            <ng-container
                                *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.securityDepositStatus == 2">
                                <i class="far fa-times-circle fa-lg text-danger"></i> 
                            </ng-container>
                            <ng-container
                                *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.securityDepositStatus == 0">
                                <i class="far fa-dot-circle fa-lg text-secondary"></i> 
                            </ng-container>
                            <ng-container
                                *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.securityDepositStatus == 3">
                                <i class="fas fa-exclamation-circle fa-lg text-warning"></i> 
                            </ng-container>
                        </p>

                        <p class="mb-1">
                            Pan Card :
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.panCardStatus == 1">
                                <i class="far fa-check-circle fa-lg text-success"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.panCardStatus == 2">
                                <i class="far fa-times-circle fa-lg text-danger"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.panCardStatus == 0">
                                <i class="far fa-dot-circle fa-lg text-secondary"></i> 
                            </ng-container>
                            <ng-container *ngIf="getPartnerResponse.bankDetailSectionInternalStatus.panCardStatus == 3">
                                <i class="fas fa-exclamation-circle fa-lg text-warning"></i> 
                            </ng-container>
                        </p>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-12 col-12 mb-2" *ngIf="dcoTransactionHistoryTbl">
        <div class="card">
            <div class="card-body table-responsive">

                <table class="table text-center">
                    <thead class="text-primary">
                        <tr>
                            <th>No</th>
                            <th>Transaction Date&Time</th>
                            <th>Booking Id</th>
                            <th>Booking Type</th>
                            <th>Is ReturnSet</th>
                            <th>Is Requested</th>
                            <th>Total Fare</th>
                            <th>Discount</th>
                            <th>Commission</th>
                            <th>Online Payment</th>
                            <th>Driver GST</th>
                            <th>Service Tax Recovery</th>
                            <th>Payment Type</th>
                            <th>Payment Mode</th>
                            <th>Net Payment</th>
                            <th>Total Commission Outstanding</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of dcoTransactionHistoryRes.list; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{data.dateTime}}</td>
                            <td>{{data.displayBooking}}</td>
                            <td>{{data.bookingType}}</td>
                            <td>{{data.isReturnSet}}</td>
                            <td>{{data.isRequested}}</td>
                            <td>-</td>
                            <td>{{data.discountAmount}}</td>
                            <td>{{data.commission}}</td>
                            <td>{{data.onlinePayment}}</td>
                            <td>{{data.driverGst}}</td>
                            <td>{{data.serviceTax}}</td>
                            <td>{{data.paymentType}}</td>
                            <td>{{data.paymentMode}}</td>
                            <td>{{data.netPayment}}</td>
                            <td>{{data.outstandingAmount}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
     
<div class="row">
    
    <div class="col-md-12 col-12 mt-2">
        <form [formGroup]="dcoStatusForm">

            <div class="row">
                <div class="col-md-5 col-12 form-group">
                    <select class="form-control form-control-sm" formControlName="tag"
                        (change)="fetchSubTagsForMainTags($event)"
                        [ngClass]="{ 'is-invalid': submitted && f['tag'].errors }">
                        <option value="" disabled>Choose your Tags</option>
                        <option *ngFor="let tags of tagListData" [value]="tags">{{ tags }}</option>
                    </select>

                    <div *ngIf="submitted && f['tag'].errors" class="invalid-feedback">
                        <div *ngIf="f['tag'].errors['required']">Tags is required</div>
                    </div>
                </div>

                <div class="col-md-5 col-12 form-group">
                    <select class="form-control form-control-sm" formControlName="subTag"
                        (change)="subTagChangefun($event)"
                        [ngClass]="{ 'is-invalid': submitted && f['subTag'].errors }">
                        <option value="" disabled>Choose your SubTag</option>
                        <option *ngFor="let subTagdis of subTagList?.listOfSUbTags" [value]="subTagdis.tag_id">
                            {{ subTagdis.sub_tag }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f['subTag'].errors" class="invalid-feedback">
                        <div *ngIf="f['subTag'].errors['required']">Sub Tag is required</div>
                    </div>
                </div>

                <div class="col-md-2 col-12 text-right">
                    <button type="button" class="btn btn-info btn-sm btn-block" (click)="statusUpdate()">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-12 col-12 mt-2 text-right">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered small-font-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Tag - Sub Tag
                                <button *ngIf="this.totalTagLength > visibleTagsFive.length" type="button"
                                    class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#tagsModal"
                                    (click)="loadMore()">
                                    Load More
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of visibleTagsFive; index as i">
                            <td>{{ data.created_date_time | date : 'd MMM Y' }}</td>
                            <td>{{ data.main_tag }} - {{ data.sub_tag }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-labelledby="tagsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagsModalLabel">Tags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Tag - Sub Tag</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of visibleTags; index as i">
                                <td>{{ data.created_date_time | date : 'd MMM yy' }}</td>
                                <td>{{ data.main_tag }} - {{ data.sub_tag }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Load More Button -->
                <!-- <div class="text-center" *ngIf="visibleTags.length < fetchAllTagsForFreelancerRes.listOfTags?.length">
                <button class="btn btn-primary mt-2" (click)="loadMore()">Load More</button>
            </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>